# irisデータ
150件のデータがSetosa, Versicolor, Virginicaの3品種に分類されており、  
それぞれ、  
Sepal Length（がく片の長さ）,   
Sepal Width（がく片の幅）,   
Petal Length（花びらの長さ）,   
Petal Width（花びらの幅）の4つの特徴量を持っている。

In [1]:
from sklearn import datasets
import pandas as pd

iris = datasets.load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['target'] = iris.target_names[iris.target]
df[0:10]
# df.head()
# df.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
5,5.4,3.9,1.7,0.4,setosa
6,4.6,3.4,1.4,0.3,setosa
7,5.0,3.4,1.5,0.2,setosa
8,4.4,2.9,1.4,0.2,setosa
9,4.9,3.1,1.5,0.1,setosa